/* src/app/Components/SpecializedTesting/SpecializedTesting.module.css */

.SpecializedTestingMainPagesMainBanner {
    position: relative;
    margin-left: 0%;
    width: 99%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.SpecializedTestingMainPagesBackgroundImage {
    position: absolute; /* Change to absolute instead of fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    object-fit: cover;
    z-index: -1;
}

/* Add the overlay using ::before */
.SpecializedTestingMainPagesMainBanner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black overlay with 0.4 opacity */
    z-index: 0; /* Ensure it's below the text content */
}

.HaemotologymainTableDiv {
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.SpecializedTestingMainPagesContentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: white;
}

.SpecializedTestingMainPagesLeftContent {
    width: 50%;
    text-align: left;
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.SpecializedTestingMainPagesLeftContent h2 {
    font-size: 4.5rem;
    margin: 0;
}

.SpecializedTestingMainPagesLeftContent p {
    font-size: 1.5rem;
    font-weight: 500;
}

.specializedList {
    list-style-type: disc;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color: #333;
    line-height: 30px;
}

.SpecializedTestingMainPagesRightContent {
    width: 40%;
}

.specializedImage {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Table Section */
.SpecializedTestingMainPagesTableContainer {
    margin: 50px 6%;
    overflow-x: auto;
    margin-left: 2%;
}

.SpecializedTestingMainPagesTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: left;
}

.SpecializedTestingMainPagesTable th,
.SpecializedTestingMainPagesTable td {
    padding: 12px 20px;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
}

.SpecializedTestingMainPagesTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.SpecializedTestingMainPagesTable tr {
    background-color: #fff;
}

.SpecializedTestingMainPagesTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.SpecializedTestingMainPagesTable td {
    font-size: 1rem;
}

.SpecializedTestingMainPagesTableContainer h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    color: #232323;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .SpecializedTestingMainPagesContentContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .SpecializedTestingMainPagesLeftContent {
        width: 85%;
        margin-left: 5%;
        text-align: left;
    }

    .SpecializedTestingMainPagesLeftContent h2 {
        font-size: 2.5rem;
    }

    .SpecializedTestingMainPagesLeftContent p {
        font-size: 1rem;
    }

    .SpecializedTestingMainPagesRightContent {
        width: 100%;
        margin-top: 20px;
    }

    .specializedImage {
        width: 90%;
    }

    .SpecializedTestingMainPagesTable th,
    .SpecializedTestingMainPagesTable td {
        font-size: 0.9rem;
        padding: 8px 10px;
    }

    .SpecializedTestingMainPagesMainBanner {
        margin-left: 0px;
        width: 100%;
        height: 50vh;
    }

    .SpecializedTestingMainPagesTableContainer {
        margin-left: 3%;
        margin-right: 3%;
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .SpecializedTestingMainPagesLeftContent h2 {
        font-size: 1.5rem;
    }

    .SpecializedTestingMainPagesLeftContent p {
        font-size: 0.9rem;
    }

    .SpecializedTestingMainPagesTable th,
    .SpecializedTestingMainPagesTable td {
        font-size: 0.8rem;
        padding: 6px 8px;
    }
}

@media (max-width: 393px) {
    .SpecializedTestingMainPagesTable th,
    .SpecializedTestingMainPagesTable td {
        font-size: 0.6rem;
    }
}
